html{
  background-color:#9c9;
}

body{
  margin: 8px auto;
  padding: 8px;
  width: 980px;
  background-color: #eee;
  border-radius: 10px;
}

.me{
  width:400px;
}

.site-header{
  background-color:#fff;
  overflow: auto; /* clear fix to make div span all elements*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.site-header img{
  float:left;
}

.site-title{
  display:block;
  padding-top: 1em;
  padding-left: 50px;
  font-size: 32px;
  overflow: auto;
}

.site-slogan{
  display:block;
  padding-left: 50px;
  font-style: italic;
  overflow: auto;
}

.navbar{
  background-color: #fff;
  padding: 1em;
  border-top: 1px solid #9c9;
}

.navbar a{
  display: inline-block;
  padding: .5em 1em;
  border:1px solid #999;
  text-decoration: none;
}

.navbar a:hover{
  background-color: #eee;
  text-decoration: underline;
}

.byline{
  border: 1px solid #999;
  background-color: #fff;
  padding: .75em;
  overflow: auto;
  
}

.byline-img-holder{
    float:left;
}

.byline img{
  width: 75px;
  //float:left;
}

.byline figcaption{
  font-size: .75em;
  font-weight: bold;
}

.byline-text{
  display:block;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 1.5em;
  font-style: italic;
  font-size: 1em;
  overflow: auto;
}
